<html>
<h2>
	{{.title}}
</h2>

<body>
	<p>
		<strong>接口地址</strong>
		<br/>{{.url}}
		<br/>
		<br/>
		<strong>请求方式</strong>
		<br/>
		<strong>{{.method}}</strong>
		<br/>
		<br/>
		<strong>请求参数</strong>
		<br/>{{.param}}
		<br/>
		<br/>
		<strong>响应结果</strong>
		<br/>{{.result}}
		<br/>
	</p>
	<a href="/docs">返回列表</a>
</body>

</html>